.wrapper{
    overflow-y: visible;
}

.imagediv{
    width: 50vw;
    padding-top: 10vh;
    padding-left: 10vw;
    overflow-y: visible;
}

.textdiv{
    width: 50vw;
    position:relative;
    bottom:-150px;
    left:150px;
    border-style:solid;
    overflow-y: visible;
}