.wrapper{
    overflow-y: visible;
    overflow-x: visible;
}

.textdiv{
    position: relative;
    width: 50vw;
    height: 20vh;
    padding:0.5em; 
    top: 20vh;
    left: 10vw;
    background-color: white;
    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: var(--bg);
    z-index: 2;
}

.imagediv{
    width: 60vw;
    position:relative;
    top: -025vh;
    left: 40vw;
    z-index: 1;
}

