.wrapper{
    overflow-y: visible;
    overflow-x: visible;
}

.textdiv{
    position: relative;
    width: 50vw;
    height: 20vh;
    padding:0.5em; 
    top: 10vh;
    left: 10vw;
    background-color: white;
    color: black;
    font-size: 25px;
    border-style: solid;
    border-color: var(--bg);
    z-index: 2;
    border-radius: 1em;
}

.imagediv{
    width: 50vw;
    position:relative;
    top: -025vh;
    left: 50vw;
    z-index: 1;
    border-radius:2em;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0.5em; /* change this to whatever height you want it */
}