/* Defining row */
.row {
    display: flex;
    position: absolute;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Define how the name and title look */
* {
    --b: 0.1em;
    --c: white;
    --w: 1.5em;
    --fs: 30px;
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    --padbot: 0.25em;
    --padtop: 0.25em;
}

.text {
    letter-spacing: 0.2em ;
    line-height: 1.5em; 
}

.borderleft {

    border: var(--b) solid #0000;   /* space for the border */
    background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p);

    /*Other parameters*/  
    font-size: var(--fs);
    padding-left: 0.55em;
    padding-top: var(--padtop);
    padding-bottom: var(--padbot);
}

.borderright {

    border: var(--b) solid #0000; /* space for the border */
    background:
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);

    /*Irrelevant code*/  
    font-size: var(--fs);
    padding-right: 0.3em;
    padding-top: var(--padtop);
    padding-bottom: var(--padbot);
}

.moveleft {
    animation-name: slideleft;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes slideleft {
    100% {
        transform: translateX(-15em);
    }
}

.moveright {
    animation-name: slideright;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes slideright {
    100% {
        transform: translateX(15em);
    }
}
