/* Video background */
.bg_vid{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* Top nav */
/* Override navigation for home */
.homenav{
    position: abosolute;
    margin-top: -10vh;
    animation-name: dropdown;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes dropdown {
    100% {
        margin-top: 0;
    }
}

/* Defining row */
.row {
    display: flex;
    position: absolute;
    top: 10vh;
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Define how the name and title look */
* {
    --b: 0.1em;     /* Border width */
    --c: white;   /* Border color */
    --w: 1.2em;    /* Border legnth */
    --fs: 2vw;
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    --padbot: 0.25em;
    --padtop: 0.25em;
}

.text {
    letter-spacing: 0.2em;
    line-height: 1.5em; 
}

.borderleft {
    /* Set space for border */  
    border: var(--b) solid #0000;   
    background:
        conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p);

    /* Other parameters */  
    font-size: var(--fs);
    padding-left: 0.55em;
    padding-top: var(--padtop);
    padding-bottom: var(--padbot);
}

.borderright {
    /* Set space for border */  
    border: var(--b) solid #0000; 
    background:
        conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);

    /* Other parameters */  
    font-size: var(--fs);
    text-align: right;
    padding-right: 0.3em;
    padding-top: var(--padtop);
    padding-bottom: var(--padbot);
}

.moveleft{
    animation-name: slideleft;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.moveright{
    animation-name: slideright;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes slideleft {
    100% {
        transform: translateX(-20vw);
    }
}

@keyframes slideright {
    100% {
        transform: translateX(20vw);
    }
}
