/* Defining row */
.row {
    display: flex;
    position: absolute;
    top: 10vh;
    height: 70vh;
    width: 75vw;
    left: 15vh;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: visible;
    overflow-x: visible;
}

.link{
    overflow: visible;
}

/* For headings */
.linklabel{
    position: relative;
    top: 10vw;
    width: 25vw;
    text-align: center;
    font-size: 2vw;
}

/* For breaks */
br{
    display: block;     /* makes it have a width */
    content: "";        /* clears default height */
    margin-top: 1vw;    /* change this to whatever height you want it */ 
}

/* Each icon */ 
.linkimage{
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 2em;
    opacity: 0.5;
}