/* Define width */
* {
    --w: 20vw;
    --h: 15vw;
}

/* Defining row */
.row {
    display: flex;
    position: absolute;
    top: 12vh;
    height: 70vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

/* Each image */
.linkimage{
    position: relative;
    width:  calc(var(--w)/4);
    padding-left:  calc(3*var(--w)/8);
    padding-right:  calc(3*var(--w)/8);
    padding-bottom: calc(var(--h)/4);
    object-fit: cover;
    z-index: 1;
}

/* For headings */
.linklabel{
    position: relative;
    padding-top: calc(var(--h)/3);
    width: var(--w);
    text-align: center;
    font-size: 1.5vw;
    font-weight: normal;
    color: white;
    text-decoration: none;
    z-index: 1;
}

/* So text links don't have color and underline*/
a{
    text-decoration: none;
}

/* Each background */ 
.linkbackground{
    width: var(--w);
    height: var(--h);
    object-fit: cover;
    opacity: 0.6;
    filter: brightness(1) contrast(1.3);
}

/* Classes just to make javascript easier */
.email{}
.scholar{}
.linkedin{}
.github{}
