/* Define width */
* {
    --w: 30vw;
    --h: 20vw;
}

/* Defining row */
.row {
    display: flex;
    position: absolute;
    top: 15vh;
    height: 70vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

/* For headings */
.linklabel{
    position: relative;
    padding-top: calc(var(--h)/2);
    width: var(--w);
    text-align: center;
    font-size: 2vw;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

/* So text links don't have color and underline*/
a{
    text-decoration: none;
}

/* Each image */
.linkimage{
    position: relative;
    width:  calc(var(--w)/4);
    padding-left:  calc(3*var(--w)/8);
    padding-right:  calc(3*var(--w)/8);
    padding-bottom: calc(var(--h)/8);
    object-fit: cover;
}

/* Each background */ 
.linkbackground{
    width: var(--w);
    height: var(--h);
    object-fit: cover;
    opacity: 0.5;
    filter: brightness(1.1) contrast(1.2);
}