/* Variables */
:root {
    --bg: #142a38;
    --text: white;
}

/* Apply to all */
* {
    font-family: "Roboto", sans-serif;
}

/* Main body */
.dark {
    background-color: var(--bg);
    color: var(--text);
}

/* Navigation bar */
.topnav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 100vw;
}

.topnav a {
    float: left;
    background-color: transparent;
    color: white;
    text-align: center;
    padding-left: 60px; 
    padding-right: 60px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.3em;
    font-weight: bold;
}

.topnav a:hover{
    animation-name: emphasize;
    animation-duration: 0.25s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes emphasize {
    100% {
        transform: translateY(-7.5%);
    }
}



