@import "bootstrap/functions";
@import "bootstrap/variables";

#body .dark {
    background-color: #142a38;
    color:white;
}

.topnav {
    background-color: transparent;
    overflow: hidden; 
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@import "bootstrap";