.dark {
    background-color: #142a38;
    color:white;
}

.topnav {
    background-color: transparent;
    overflow: hidden; 
    display: flex;
    justify-content: center;
}

.topnav a {
    float: left;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.3em;
}

.topnav a.active{
    background-color: white;
    color: black
}
